* {
  margin: 0px;
  padding: 0px;
}

.s1_1 {
  position: absolute;
  width: 1366px;
  height: 1024px;
  z-index: 1;
}

.s1_2 {
  position: absolute;
  left: 117px;
  top: 459px;
  width: 203px;
  height: 474px;
  animation: fadeInLeft 0.7s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.s1_3 {
  position: absolute;
  left: 313px;
  top: 459px;
  width: 204px;
  height: 474px;
  animation: fadeInRight 0.7s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_4 {
  position: absolute;
  left: 130px;
  top: 92px;
  width: 545px;
  height: 408px;
  animation: barup-ani 1s;
  clip: rect(0px,800px,0px,0px);
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_5 {
  position: absolute;
  left: 826px;
  top: 542px;
  width: 540px;
  height: 482px;
  animation: fadeInRight 0.7s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_6 {
  position: absolute;
  left: 797px;
  top: 200px;
  width: 521px;
  height: 401px;
  animation: barup-ani 1s;
  clip: rect(0px,800px,0px,0px);
  animation-delay: 4s;
  animation-fill-mode: both;
  z-index: 2;
}


@-webkit-keyframes barup-ani  {
	0% {    clip: rect(800px,0px,0px,0px);  }
	100% {    clip: rect(0px,800px,700px,0px);  }
}

@keyframes barup-ani {
	0% {    clip: rect(800px,0px,0px,0px);  }
	100% {    clip: rect(0px,800px,700px,0px);  }
}


@keyframes blink {
    0%   {transform: scaleY(1);}
    50%  {transform: scaleY(0);}
    100% {
			transform: scaleY(1);
			opacity: 1;
		 }
}

.blink {
  -webkit-animation-name: blink;
  animation-name: blink;
}

@-webkit-keyframes revealVertical{
  0% {
    clip: rect(0px,600px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,600px,450px,0px);
	opacity: 1;
  }
}
@keyframes revealVertical {
  0% {
    clip: rect(0px,600px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,600px,450px,0px);
	opacity: 1;
  }
}

.revealVertical {
  -webkit-animation-name: revealVertical;
  animation-name: revealVertical;
}


@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}


@-webkit-keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,900px,100px,0px);
	opacity: 1;
  }
}
@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,900px,100px,0px);
	opacity: 1;
  }
}

.revealHorizontal {
  -webkit-animation-name: revealHorizontal;
  animation-name: revealHorizontal;
}

@-webkit-keyframes revealHorizontalSmall {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,400px,100px,0px);
	opacity: 1;
  }
}
@keyframes revealHorizontalSmall {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,400px,100px,0px);
	opacity: 1;
  }
}

.revealHorizontalSmall {
  -webkit-animation-name: revealHorizontalSmall;
  animation-name: revealHorizontalSmall;
}